.heading{
    background-color: black;
    color: white;
}
.card{
    background-color: black;
    color: white;
    font-family: cursive;
}
body{
    background-color: rgb(202, 193, 193);
}
.imran{
    text-align: center;
    background-color: black;
    color: white;
}